/*++++++++++++++++++++ENCABEZADO+++++++++++++++*/

.header
{
    height: 54px;
    background-color:black;
    margin: 0px;
    padding: 0px;
    font-family: 'Dokdo', cursive;
}

.menu
{
    height: inherit;
    margin: 0px;
    padding: inherit;
}

.headerLinks
{
    height: inherit;
    margin: inherit;
    padding: inherit;
    background-color:black;
    display: flex;
    font-size: 200%
}

.header ol
{
    height: 54px;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.header li
{
    height: inherit;
    margin: inherit;
    padding: inherit;
}

.header a
{
    height: inherit;
    margin: inherit;
    padding: inherit;
    color: white;
    display: flex;
    align-items: center;
}

/*++++++++++++++++++++++CARRUSEL++++++++++++++++++++++++++*/

.carruselWraper
{
    margin: 0px;
    background-color: #f8f9f4;
}

.titleCarousel
{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background-color: #f8f9f4;
}

}

.container
{
    margin: 0px;
    display: flex;
    justify-content: center;
}
.bd-example
{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: 1px solid black;
}

/*+++++++++++++++++++++BICHOS++++++++++++++++++++*/

.titleBichos
{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: black;
    color:white;
    font-size: 35px;
    font-family: 'Dokdo', cursive;
}

.bichos
{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9f4;
}

.bichoText
{
    margin: 21px 40px;
    background-color: white;
    padding: 18px;
    margin-top: -45px;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.bichoName
{
    
    text-align: left;

}

.bichoURL
{
    border: 1px solid gray;
    width: 90px;
    border-radius: 5px;
    text-align: center;
}

.bicuna
{   
    border: 1px solid #e2e2e2;
    margin: 18px;
    width: 512px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f8f9f4;
}

.lobo
{   
    border: 1px solid #e2e2e2;
    margin: 18px;
    width: 512px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}

.cat
{   
    border: 1px solid #e2e2e2;
    margin: 18px;
    width: 512px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}

/*+++++++++++++++++++++Más bichos+++++++++++++++++++++*/

.titleMasBichos
{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: black;
    color:white;
    font-size: 36px;
    font-family: 'Dokdo', cursive;
}

.masBichos
{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8f9f4;
}

.gracias
{   
    border: 1px solid #e2e2e2;
    margin: 18px;
    width: 512px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f8f9f4;
}

.yo
{   
    border: 1px solid #e2e2e2;
    margin: 18px;
    width: 512px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f8f9f4;
}

/*++++++++++++++++SOCIAL++++++++++++++++++*/
.contacto
{
    margin: 0px;
    display: flex;
    align-items: center;
    background-color: #f8f9f4;
}

.social
{
    margin: 120px 100px 10px 50px;
}

.formulario
{
    margin: 120px 30px 10px 100px;
}

.social
{
    width: 300px;
    height: 50px;
    /*border: 1px solid red;*/
}

.social-link
{
    display: inline-block;
    justify-content: space-between;
    width: 50px;
    height: 50px;
    /*border: 1px solid red;*/
}

.social-link.twitter
{
    background-image: url("twitter.png");
    background-size: 50px 50px;
    
}

.social-link.facebook
{
    background-image: url("facebook.png");
    background-size: 50px 50px;
}

.social-link.instagram
{
    background-image: url("instagram.png");
    background-size: 50px 50px;
}

/*++++++++++++++++++FOOTER+++++++++++++++++++++++*/

.footer
{
    height: 54px;
    background-color:black;
    margin: 18px;
    padding: 0px;
}

.menuFooter
{
    height: inherit;
    margin: 0px;
    padding: inherit;
}

.footer a
{
    height: inherit;
    margin: inherit;
    padding: inherit;
    color: white;
    display: flex;
    align-items: center;
}

.footer ol
{
    height: 54px;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.footer li
{
    height: inherit;
    margin: inherit;
    padding: inherit;
}

.footerLinks
{
    font-size: 15px;
}