/*ENCABEZADO*/
.header
{
    height: 54px;
    background-color:black;
    margin: 0px;
    padding: 0px;
}

.menu
{
    height: inherit;
    margin: inherit;
    padding: inherit;
}

.headerLinks
{
    height: inherit;
    margin: inherit;
    padding: inherit;
    background-color:black;
}

.header ol
{
    height: inherit;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.header li
{
    height: inherit;
    margin: inherit;
    padding: inherit;
}

.header a
{
    height: inherit;
    margin: inherit;
    padding: inherit;
    color: white;
    display: flex;
    align-items: center;
}

/*CARRUSEL*/
.container
{
    margin: 15px;
    display: flex;
    justify-content: center;
}