/*ENCABEZADO*/

.header
{
    height: 54px;
    background-color:black;
    margin: 18px;
    padding: 0px;
}

.menu
{
    height: inherit;
    margin: 0px;
    padding: inherit;
}

.headerLinks
{
    height: inherit;
    margin: inherit;
    padding: inherit;
    background-color:black;
}

.header ol
{
    height: 54px;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.header li
{
    height: inherit;
    margin: inherit;
    padding: inherit;
}

.header a
{
    height: inherit;
    margin: inherit;
    padding: inherit;
    color: white;
    display: flex;
    align-items: center;
}

/*CARRUSEL*/

.titleCarousel
{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.container
{
    margin: 0px;
    display: flex;
    justify-content: center;
}
.bd-example
{
    border: 1.5px solid gray;
}

/*BICHOS*/

.titleBichos
{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: black;
    color:white;
}

.bichos
{
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9f4;
}

.bichoText
{
    margin: 21px 40px;
    background-color: white;
    padding: 18px;
    margin-top: -45px;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.bichoName
{
    
    text-align: left;

}

.bichoURL
{
    border: 1px solid gray;
    width: 90px;
    border-radius: 5px;
    text-align: center;
}

.bicuna
{   
    border: 1px solid #e2e2e2;
    margin: 18px;
    width: 512px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f8f9f4;
}

.lobo
{   
    border: 1px solid #e2e2e2;
    margin: 18px;
    width: 512px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}

.cat
{   
    border: 1px solid #e2e2e2;
    margin: 18px;
    width: 512px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}

